.input-error{
    font-size: 13px;
    color: red;
    font-style: italic;
    width: 100%;
    height: 0;
    font-weight: normal;
    font-family: unset !important;
}

.field{
    flex-wrap: wrap;
}


.register-course .wrap label{
    flex-wrap: wrap;
    .input-error{
      width: 100%;
      padding-left: 180px
    }
  }